 {% extends "layout.html" %}
  
{% set active_page = "DBN" %}

{% block title %}Data by Nationality{% endblock %}

{% block heading %}Data by Nationality{% endblock %}

{% block body %}

 <script>
window.onload = function() {

var dataPoints = [];

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Duration of Astronauts' Missions in the U.S."
	},
	axisY: {
		title: "Minutes",
		titleFontSize: 24,
		includeZero: true
	},
	data: [{
		type: "column",
		yValueFormatString: "#,### Minutes",
		dataPoints: {{data}}
	}]
});


	chart.render();

}

</script>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="https://cdn.canvasjs.com/canvasjs.min.js"></script>
{%endblock%}