{% extends "layout.html" %}
  
{% set active_page = "NAY" %}

{% block title %}Number of Astronauts by Year{% endblock %}

{% block heading %}Number of Astronauts by Year{% endblock %}

{% block body %}
	<h2>Select a year</h2>
	<form action="/showYear">
          <select name="ayear"> <!-- add onchange="this.form.submit()" to submit/update the form when an option is selected.  Usefull for then displaying county options. -->
            {{ year_option }}
          </select>
		<br><br>
		<input type="submit" value="submit">
	</form>
	<div id="AFact">
		<p>{{ AFact }} </p>
	</div>
{% endblock%}